@import '../../App.scss';

.develop {
	display: flex;
	margin-top: 228px;
	margin-bottom: 77px;

	@media (max-width: 1280px) {
		margin-top: 185px;
		margin-bottom: 69px;
	}
	@media (max-width: 720px) {
		margin-top: 100px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 415px) {
		margin-top: 84px;
		margin-bottom: 0px;
	}
	@media (max-width: 375px) {
		margin-top: 100px;
	}
	.develop_information {
		display: flex;
		flex-direction: column;
		.develop_title {
			font-size: 72px;
			font-weight: bold;
			line-height: 120%;
			text-transform: uppercase;
			font-family: $fonts_rubik;
			margin-top: 38px;
			margin-bottom: 16px;
			@media (max-width: 1280px) {
				font-size: 62px;
				margin-top: 0px;
				margin-bottom: 18px;
			}
			@media (max-width: 720px) {
				font-size: 40px;
				text-align: center;
			}
			@media (max-width: 415px) {
				font-size: 28px;
				text-align: left;
				margin-bottom: 16px;
			}
		}
		.develop_text {
			font-size: 22px;
			line-height: 150%;
			@media (max-width: 1280px) {
				font-size: 18px;
				padding-right: 116px;
			}
			@media (max-width: 720px) {
				display: flex;
				align-items: center;
				padding-right: 0;
			}
			@media (max-width: 415px) {
				margin-bottom: 16px;
			}
		}
		.develop_button {
			button {
				background-color: #ee5622;
				border: none;
				width: 258px;
				height: 52px;
				border-radius: 100px;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin-top: 34px;
				margin-bottom: 16px;
				@media (max-width: 1280px) {
					width: 248px;
				}
				@media (max-width: 415px) {
					width: 100%;
					justify-content: center;
					margin-top: 15px;
					margin-bottom: 32pxpx;
				}
				.button_text {
					color: $color_wight;
					font-weight: bold;
					@media (max-width: 415px) {
						margin-right: 19px;
					}
				}
			}
		}
		.develop_videoPhone {
			@media (min-width: 415px) {
				display: none;
			}
			@media (max-width: 415px) {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: auto;
				.develop_video_imgPhone {
					width: 100%;
					height: auto;
				}
				.circlePhone {
					width: 73.77px;
					height: 73.77px;
					background-color: #ffffff;
					border-radius: 73.77px;
					position: absolute;
				}
				.develop_video_playPhone {
					position: absolute;
					width: 29px;
					height: auto;
				}
			}
		}
		.develop_rated {
			display: flex;
			align-items: center;
			.develop_rated_text {
				margin-right: 10px;
			}
			.rated-image {
				width: 24px;
				height: auto;
				padding: 2px;
				margin: 2px;
				&:not(:last-child) {
				}
			}
			@media (max-width: 700px) {
				display: none;
			}
		}
		.develop_girle {
			display: flex;
			flex-direction: row;
			margin-top: 6px;
			margin-bottom: 38px;

			.girl-image {
				margin-right: -7px;
				width: 46px;
				height: auto;
			}
			.girl-image:last-child {
				margin-right: 0;
			}
			@media (max-width: 700px) {
				display: none;
			}
		}
	}
	.develop_video {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 164px;
		position: relative;
		@media (max-width: 1280px) {
			margin-left: 97px;
		}
		@media (max-width: 700px) {
			margin-left: 0px;
		}
		.develop_video_img {
			width: 435px;
			height: auto;
			@media (max-width: 1280px) {
				width: 391px;
				height: auto;
			}
			@media (max-width: 1046px) {
				width: 300px;
			}
		}
		.circle {
			width: 80px;
			height: 80px;
			background-color: #ffffff;
			border-radius: 80px;
			position: absolute;
		}
		.develop_video_play {
			position: absolute;
			width: 29px;
			height: auto;
		}
		@media (max-width: 415px) {
			display: none;
		}
	}
}
