@import '../../App.scss';

.pricing {
	margin: 79px 0;

	@media (max-width: 1280px) {
		margin: 86px 0 78px 0;
	}

	.pricing_title {
		font-family: $fonts_rubik;
		font-size: 54px;
		font-weight: bold;
		@media (max-width: 415px) {
			font-size: 24px;
		}
	}
	.pricing_text {
		line-height: 150%;
		width: 740px;
		margin: 60px 0;
		@media (max-width: 770px) {
			width: 100%;
			background-color: bisque;
		}
		@media (max-width: 415px) {
			font-size: 14px;
		}
	}
	.pricing_button {
		display: flex;
		justify-content: end;
		@media (min-width: 415px) {
			display: none;
		}
		@media (max-width: 415px) {
			display: flex;
		}
		button {
			width: 40px;
			height: 40px;
			background-color: #ffffff;
			border: 2px solid #ee5622;
			border-radius: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:last-child {
				margin-left: 18px;
			}
		}
	}

	.pricing_item {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;
		@media (max-width: 415px) {
			// transform: rotateX(180deg);
			overflow-x: hidden;
			flex-wrap: 'nowrap';
		}
	}
}
